<div class="container">
  <h1>Welcome to Task-it!</h1>

  <% if session[:id] %></p>
    <%= erb :_profile, layout: false %>
  <% else %>
    <%= erb :_user_login, layout: false %>
  <% end %>


</div>
